@model MvcApplication4.Models.Users

@{
    ViewBag.Title = "Details";
}

<h2>Детали</h2>

<fieldset style="font-size: 17px;">
    <legend>Пользователь</legend>

    <div class="display-label">
         @*@Html.DisplayNameFor(model => model.fio_user)*@
         ФИО
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.fio_user)
    </div>

    <div class="display-label">
         Логин
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.login_user)
    </div>

    <div class="display-label">
         Возраст
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.age_user)
    </div>

    <div class="display-label">
        Телефон
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.phone_user)
    </div>

    <div class="display-label">
         Фотография
    </div>
    <div class="display-field">
        <img src="@Url.Content(@Model.foto_user)" width="200" height="200" />
    </div>
</fieldset>
<p style="font-size: 17px;">
    @Html.ActionLink("Редактировать", "Edit", new { id=Model.ID_user }) |
    @Html.ActionLink("Вернуться назад", "Index")
</p>
